<div layout="row">
  <div flex-offset-gt-xs="5" layout="column"></div>
  <div flex-gt-xs="90" layout="column" flex>
    <md-card>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button">
            <md-icon md-svg-icon="label"></md-icon>
          </md-button>
          <h1>About Me</h1>
        </div>
      </md-toolbar>
      <!--<md-card-title>
        <md-card-title-text>
          <span class="md-headline">About Me</span>
        </md-card-title-text>
      </md-card-title>-->
      <md-card-content>
        <p>
          &emsp;Hola Folk's, My name is <code style="font-size:large;">Akshay Jain</code> & I am in Fourth year of my B.Tech Degree Course.
          I am Enthusiastic Frontend Developer & not too proficient but try to improve myself every instance of time.
          I don't want to be great or kind of awesome coder just wanna code for fun. I feel kind of relaxed when
          i am coding.
          <br/><br/>
          Apart from Coding I like sleeping a lot & I am kind of lazy human always yawning. My Companion 
          sometimes call me Kumbhkaran.  
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>

