<div layout="row">
  <div flex-offset-gt-xs="5" layout="column"></div>
  <div flex-gt-xs="90" layout="column" flex>
    <md-card>
      <!--<img ng-src="{{allInfo.avatar_url}}" class="md-avatar" alt="Akshay Profile Pic">-->
      <md-toolbar layout="row">
        <md-icon flex="5" class="git-icon" md-svg-icon="github"></md-icon>
        <h2 flex="70" flex-xs="60" class="md-toolbar-tools">Github Portfolio</h2>
        <md-button flex class="md-primary md-raised" href="{{allInfo.html_url}}" style="text-transform:capitalize">Follow Me</md-button>
      </md-toolbar>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{allInfo.name}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{allInfo.login}}</p>
        <hr/>
        <div>
          <md-icon md-svg-icon="account"></md-icon> <span>{{allInfo.company}}</span>
        </div>
        <div>
          <md-icon md-svg-icon="home"></md-icon> <span>{{allInfo.location}}</span>
        </div>
        <div>
          <md-icon md-svg-icon="email"></md-icon> <span>{{allInfo.email}}</span>
        </div>
        <div>
          <md-icon md-svg-icon="clock"></md-icon> <span>Joined on {{allInfo.created_at | date: 'medium'}}</span>
        </div>
        <hr/>
        <div layout="row" layout-align="center">
          <div flex="30" class="txt-center">
            <span class="span-no">{{allInfo.followers}}</span><br />Followers
          </div>
          <div flex="30" class="txt-center">
            <span class="span-no">{{allInfo.public_repos}}</span><br />Repositories
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>

