<div layout="row">
  <div flex-offset-gt-xs="5" layout="column"></div>
  <div flex-gt-xs="90" layout="column" flex>    
    <md-card>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button">
            <md-icon md-svg-icon="account-circle"></md-icon>
          </md-button>
          <h1>{{vm.fbData.title}}</h1>
        </div>
      </md-toolbar>
      <md-card-content>
        <code>Web Technologies Rating Chart</code>
        <canvas id="base" class="chart chart-horizontal-bar"
                chart-data="vm.data" 
                chart-options="vm.options"
                chart-labels="vm.labels"></canvas>
      </md-card-content>
    </md-card>
  </div>
</div>

