<div layout="row">
  <div flex-offset-gt-xs="5" layout="column"></div>
  <div flex-gt-xs="90" layout="column" flex>    
    <md-card>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button">
            <md-icon md-svg-icon="account-circle"></md-icon>
          </md-button>
          <h1>Professional Portfolio</h1>
        </div>
      </md-toolbar>
      <md-card-content>
        Here Comes the Content Professional Portfolio.
      </md-card-content>
    </md-card>
  </div>
</div>

